<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Dev Skill</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<header>Add Dev SKill</header>

<body>
    <form action="/skills" method="POST" autocomplete="off">
        <input type="text" name="skill">
        <button type="submit">Add Dev Skills</button>






    </form>

</body>

</html>